@font-face {
	font-family: "Glue Gun";
	src: url('../../police/Glue.otf');
}
body{
	background-color:rgb(20,20,20);
	background-repeat:no-repeat;
	background-position:absolute;
	background-size: cover;
	margin:0;
}
.position1{
	margin-top:0em;
	margin-right:auto;
	margin-left:0%;
}
.cadre{ 
	width:100%;
	height:auto;
	border:1px solid #555;
	border-radius:0px 0px 0px 0px;
}
.container3{
	margin-top:-16em;
	height:16em; 
}
.container3 span{
  display: block;
}
.text1{
  position:relative;
	height:12em;
}
.text2{
  color:rgb(255,255,255);
  font-size: 30px;
	font-family: Glue Gun;
  margin-top:-0.4em; 
}
img.com{
	width:1em;
}
div.com{
	margin-left:7em;
	margin-top:-2.2em; 
}
img.com1{
	width:1em;
	margin-left:-1%;
	margin-top:0em; 
}

.menu{
  position: -webkit-sticky;
  position: sticky;
	color:white;
	margin-top:0%;
  top:0%;
	padding:2%;
	margin-right:0%;
	margin-left:auto;
	height:0em;
	width:100%; 
	font-size:2em; 
  background:rgb(033,033,033);
	z-index:1;
}
div.nom{
  margin-top:-2.6em;
	margin-left:-61%; 
	height:2em;
	width:auto; 
}
p.nom{
	font-family: Arial, sans-serif;
	font-size:0.6em;
	margin-left:-2%;
	margin-top:em;
	width:auto;  
}
.titre{
	font-family: Glue Gun;
	margin-top:-2%;
}
		.col-1 {width: 8.33%;}
		.col-2 {width: 16.66%;}
		.col-3 {width: 25%;}
		.col-4 {width: 33.33%;}
		.col-5 {width: 45%;}
		.col-6 {width: 50%;}
		.col-7 {width: 58.33%;}
		.col-8 {width: 66.66%;}
		.col-9 {width: 75%;}
		.col-10 {width: 83.33%;}
		.col-11 {width: 91.66%;}
		.col-12 {width: 100%;}
		*{
		  box-sizing: border-box;
		}
		[class*="col-"] {
			float: left;
		}
div.descri{
	font-family: Arial, sans-serif;
	height:16em;
	width:auto;
	bottom:0em;
	margin-right:auto;
	margin-left:auto;
	background:rgb(022,022,022);

}
div.descriS{
	margin-left:3em;
}
ul.aide{
	display: table;
	width: 70%;
	height:2em; 
	margin: auto;
	padding:0%;
	border-radius: 3px;
	color: rgb(222,222,222);
}
li.aide1{
	display: table-cell;
}
li.aide2{
	display: table-cell;
}
li.aide3{
	display: table-cell;
}
li.aide4{
	display: table-cell;
}
hr{
	color:#111; 
}
p.bas{
	font-family: Glue Gun;
	color: rgb(222,222,222);
}
p.copi{
	font-family: Arial, sans-serif;
	color: #fff;
}
img.diap2{
	width:auto;
	height:30px;
	margin-left:2%;
}
div.diap2S{
	text-align:center;
	margin-top:-2.8em;
	margin-left:-2%;
}
footer{
	width:auto;
	margin-top:0em;
  background:rgb(0,0,0);
}